* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #1a1a1a;
    color: #f1f1f1;
    display: flex;
    min-height: 100vh;
}

/* Sidebar styles */
img {
    height: 100%;
    width: 100%;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 50px;
    background-color: #2C3E50;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #111921;
}

.sidebar a:hover:not(.active) {
    background-color: #1A2633;
}

h1 {
    margin-left: 70px;
    margin-top: 20px;
}